body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #0f0f0f;
}
.h41stur {
  color: #c8aa27
}
.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 1170px;
}
.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #263d2c;
    border: 1px solid #263d2c;
    color: #c8aa27;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px #263d2c;
       -moz-box-shadow: 0 1px 2px #263d2c;
            box-shadow: 0 1px 2px #263d2c;
  }
  .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }